.div-container-detail{
    background-color: rgba(0, 0, 0, 0.8);
    width: 80%;
    margin-left: 10%;
    margin-top: 40px;
    border-radius: 10px;
}
.img-detail{
    margin: 10px 0;
    object-fit: cover;
}
.detail-name{
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    margin: 20px 20px;
    padding: 10px 0;
    border-radius: 2px;
}
.detail-score{
    font-size: 15px;
    background-color: rgba(255, 251, 0, 0.8);
    color: #000;
    margin: 20px 450px;
    padding: 10px 0;
    border-radius: 40px;
}
.detail-diet{
    color: #000;
    display: flex;
    align-items: center;
    align-self: center;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 250px;
    border-radius: 2px;
    padding: 0;
}
.title-diet{
    font-size: 15px;
}
.li-diet{
    color: #000;
    font-size: 15px;
}
.paso-detail{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    color: #000;
    margin: 20px 30%;
}
.steps-detail{
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px 20px ;
}
.li-steps{
    color: #000;
    font-size: 20px;
}